* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    align-items: flex-start;
    min-height: 100vh;
    background: #359fba;
    margin: 40px 40px 0px 40px;
    flex-direction: column;

    align-items: center;
}

.container {
    display: flex;
    background-image: url(background.svg);
    width: 90%;
    border-radius: 15px 15px 15px 15px;
}

.area-login{
    margin-left: 305px;
    margin-top: 40px;
}
main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.About {
    margin-top: 150px;

    background-image: url(background.svg);

    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: #313445;
    width: 90%;
    border-radius: 15px 15px 15px 15px;
}

.About H1 {
    color: white;
    margin-top: 20px;
    font-family: "Varela Round", sans-serif;
    align-items: center;
    margin-bottom: 20px;

    font-size: 40px;
}

.team {
    display: flex;
    flex-direction: row;
}

.team img {
    width: 250px;
    height: 250px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.team p {
    margin-left: 20px;
    line-height: 28px;
    font-size: 14px;
    color: white;
}

.Goals {
    margin-top: 150px;

    background-image: url(background.svg);

    display: flex;
    flex-direction: column;

    align-items: center;
    background-color: #313445;
    width: 90%;
    border-radius: 15px 15px 15px 15px;
}
.Goals h1 {
    color: white;
    margin-top: 20px;
    font-family: "Varela Round", sans-serif;
    align-items: center;
    margin-bottom: 20px;

    font-size: 40px;
}

.FirstGoal {
    margin-top: 20px;
    color: white;
}

.SecondGoal {
    margin-top: 20px;
    color: white;
}

.ThirdGoal {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
}

.card {
    width: 480px;
    height: 200px;
    color: white;
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5px;
    overflow: visible;
    margin-bottom: 20px;
   }
   
   .card .item {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   }
   
   .item:hover {
    transform: scale(0.95);
    transition: all 0.3s;
   }
   
   .item svg {
    width: 40px;
    height: 40px;
    margin-bottom: 7px;
   }
   
   .item--1 {
    background: #c7c7ff;
   }
   
   .item--2 {
    background: #ffd8be;
   }
   
   .item--3 {
    background: #a9ecbf;
   }
   
   .item--4 {
    background: #f3bbe1;
   }
   
   .quantity {
    font-size: 25px;
    font-weight: 600;
   }
   
   .text {
    font-size: 12px;
    font-family: inherit;
    font-weight: 600;
   }
   
   .text--1 {
    color: rgba(149,149,255,1);
   }
   
   .text--2 {
    color: rgba(252,161,71,1);
   }
   
   .text--3 {
    color: rgba(66,193,110,1);
   }
   
   .text--4 {
    color: rgba(220,91,183,1);
   }


       ---------------LOG IN-----------------
.area-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: right;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #30375e;

    border-radius: 15px;
    width: 355px;
    height: 260px;
    padding: 35px;
}

.login form {
    display: flex;
    flex-direction: column;
}

.login input {
    margin-top: 10px;
    background-color: #252A34;
    padding-left: 10px;
    color: #CBD0F7;
    border: none;
    height: 30px;
    width: 250px;
    outline: none;

    border-radius: 8px;
}

.login button {
    margin-top: 10px;
    background-color: #5568FE;
    padding-left: 10px;
    color: #CBD0F7;
    font-size: 15px;
    border: none;
    height: 30px;
    width: 250px;
    outline: none;
    border-radius: 8px;

    display: block;
    text-transform: uppercase;
    cursor: pointer;
    
}
.login img {
    width: 65px;
    height: auto;    
}

input::placeholder {
    color: #CBD0F7;
    font-size: 14px;
}

p {
    margin-top: 10px;
    color: #CBD0F7;
    font-size: 12px;
}

a {
    color: #5568FE;
    text-decoration: none;
    margin-left: 10px;
}



header {
    height: 300px;
    width: 200px;
    margin-top: 40px;
}

ul {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
}

ul li {
    position: relative;
    list-style: none;
}


ul li a {
    font-size: 2em;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px rgba(255, 255, 255, 0.5);
}

ul li a::before {
    content: attr(data-text);
    position: absolute;
    color: var(--clr);
    width: 0;
    overflow: hidden;
    transition: 1s;
    border-right: 8px solid var(--clr);
    -webkit-text-stroke: 1px var(--clr);
}

ul li a:hover::before {
    width: 100%;
    filter: drop-shadow(0 0 25px var(--clr));
}


footer {
    font-family: "Open Sans";
    padding-top: 40px;
    color: white;

    width: 90%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 150px;
}

.footer-content {
    margin-top: 150px;
    background-image: url(background.svg);
    width: 100%;
    border-radius: 15px 15px 15px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3{

    color: white;
    margin-top: 20px;
    font-family: "Varela Round", sans-serif;
    align-items: center;
    margin-bottom: 20px;

    font-size: 40px;
}

.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: white;
}

.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 30px 0px;

    flex-direction: row;
}

.socials li {
    margin: 0 10px;
}

#Facebook,
#Twitter,
#LinkedIn {
  display: inline-block;
  width: 26px;
  height: 26px;
}
#Facebook {
  background-image: url('http://paksef.com/wp-content/uploads/2015/08/facebook-icon-hover.png');
}
#Facebook:hover {
  background-image: url('http://paksef.com/wp-content/uploads/2015/08/facebook-icon.png');
}
#Twitter {
  background-image: url('http://paksef.com/wp-content/uploads/2015/08/twitter-icon-hover.png');
}
#Twitter:hover {
  background-image: url('http://paksef.com/wp-content/uploads/2015/08/twitter-icon.png');
}
#LinkedIn {
  background-image: url('http://paksef.com/wp-content/uploads/2015/08/Linkedin-icon-hover.png');
}
#LinkedIn:hover {
  background-image: url('http://paksef.com/wp-content/uploads/2015/08/Linkedin-icon.png');
}

.footer-bottom {
    background: #252A34;
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}