*{                   /*Apenas deixando os padrões em default zerados*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    font-size: 62.5%;
}



body {
    background-image: url(background.svg);
    font-size: 1.6rem;

    display: grid;
    place-items: center; /*referente aos itens dentro de body, nesse caso é apenas o main*/        /*Adendo: center é horizontal APENAS!!!*/
    height: 100vh; /*Estamos esticando o body*/

}

main{
    display: flex;
}

.character {
    margin-left: -20rem;
}

.progress-bar {
    position: relative;
    width: 30rem;
    height: 4rem;
    border: 1px solid black;
}

.progress-bar-fill {
    height: 100%;
    width: 0%;
    background: #59ea63;
    transition: width 0.5s;
}

.progress-bar-value {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; /*vertical center*/
    justify-content: center; /*horizontal center*/

    font-weight: bold;
}
.status {
    margin-left: 10rem;
}
.container {
    max-width: 60rem;
    background: #FFFFFF;
    border-radius: 0.5rem;
    width: 60rem;
    padding: 2rem;
    box-shadow: 0 0.2rem 0.2rem 4.3rem rgba(0, 0, 0, 0.1);
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 4rem;
    padding-bottom: 1.5rem;
    border-bottom: 0.2rem solid #e4e1e1;
}

.add {
    text-decoration: none;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: #8bc34a;
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.save {
    text-decoration: none;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: #524ac3;
    font-size: 2rem;
    font-weight: bold;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*Dynamic class creation*/

.flex{
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.delete{
    text-decoration: none;
    display: inline-block;
    background: #f44336;
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: bold;
    width: 3rem;
    height: 3rem;
    color: #FFFFFF;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

input{
    padding: 0.5rem 1rem;
    background: #dddd;
    border: none;
    width: 50%;
    border-radius: 0.5rem;
}

input:focus {
    outline: 1px solid;
}
